

  /* CORPO, CABEÇALHO E RODAPÉ DO SITE */
  
  
  body {
   
      width: 100%;
      background-color: #fff;
      color: #000;
      font-stretch: normal;
      font-family: Arial, Helvetica, Sans-Serif;
   
  }
  
  
  
  /* RESTO DO CORPO */
  
  .texto-postagem {
    
      width: 85%;
      margin-left: 15px;
      font-size: 17px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: left;
    
  }
  
  .img-box {
    
      width: 95%;
      height: 250px;
      position: relative;
      margin:0 auto;
      border-radius: 30px 0px 30px 0px;
      overflow: hidden;
  }
  
  
  .img-postagem {
    
      width: 100%;
      height: 100%;
      position: absolute;
    
    
  }
  
  .banner-box {
    
      width: 100%;
      height: 300px;
      position: relative;
      margin:0 auto;
      background-image: url('logo-banner-header.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 80px;
      
      
    
  }
  
  
          /* MENU DO SITE */
 
  .menu-nao-ordenado {
    
      width: 100%;
      background-color: #000;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      list-style: none;
      flex-direction: row;
      text-decoration: none;
      color: #fff;
      
    
  }
  
  .menu-lista {
    
      width: 90px;
      height: 40px;
      font-size: 13px;
      background-color: transparent;
      text-transform: uppercase;
      font-style: normal;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
    
  }
  #menu-principal {
    
    position: sticky;
    top: 80px;
    z-index: 1000;
  }
  
  
  
  
  
  
  
  
  
  .barra-fixa {
    
    width: 100%;
    height: 80px;
    background-color: #fff;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .logo-site {
    
    width: 240px;
    height: 70px;
    
  }
